.icon-menu-custom{
    width: 45px;
    height: 45px;
    background: transparent;
    display: flex !important;
}
.icon-constructor{
}
.icon-enable{
}
.icon-icon-handitem{
}
.custon-constructor{
    height: 286px;
}
.custon-enable{
    width: 500px;
}
.custon-constructor-button{
    background-color: greenyellow;
}
.custom-previw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.custom-previw-2-enable{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 5px;
    width: 100px;
    flex-direction: column-reverse !important;
}
.custom-previw-2-handitem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 5px;
    width: 100px;
    flex-direction: column-reverse !important;
}
.avatar-user-previw {
    width: 70px;
    height: 128px;
    background-position: 50% 50%;
}
.avatar-user-previw:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.custom-previw-2-handitem > .text-black{
    text-align: center !important;
}
.custom-previw-2-enable > .text-black{
    text-align: center !important;
}
.icon-link-sm{
    width: 10px;
    height: 10px;
}
.encurtador-button{
    width: 13px;
    height: 11px;
}
.fade-out {
    animation: fadeOut 2s forwards;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.avatar-user-list{
    width: 68px;
    height: 139px;
    background-position: center;
}
.user-list{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.300);
}
.user-list:last-child{
    border-top: none;
}
.users-custom{
    padding: 0px !important;
    display: flex;
    flex-direction: column-reverse !important;
}
.name-user-list{
    display: flex;
}
.link-user-list{
    color: black;
}
.link-user-list:hover{
    color: rgb(106, 106, 244);
}