.icon-menu-custom{
    width: 45px;
    height: 45px;
    background: transparent;
    display: flex !important;
}
.icon-enable{
}
.icon-icon-handitem{
}
.custon-constructor{
    height: 315px;
}
.custon-enable{
    width: 500px;
}
.custon-constructor-button{
    background-color: greenyellow;
}
.custom-previw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.custom-previw-2-enable{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 5px;
    width: 100px;
    background-color: #cdd3d9;
    border: 1px solid #283f5d!important;
    border-color: #b6bec5!important;
    border-width: 2px!important;
    border-radius: .25rem!important;
    flex-direction: column-reverse !important;
}
.custom-previw-2-enable:hover{
    border-color: #fff!important;
    background-color:#ececec!important;
}
.custom-previw-2-handitem{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 5px;
    width: 100px;
    background-color: #cdd3d9;
    border: 1px solid #283f5d!important;
    border-color: #b6bec5!important;
    border-width: 2px!important;
    border-radius: .25rem!important;
    flex-direction: column-reverse !important;
}
.custom-previw-2-handitem:hover{
    border-color: #fff!important;
    background-color:#ececec!important;
}
.avatar-user-previw {
    width: 70px;
    height: 128px;
    background-position: 50% 50%;
}
.avatar-user-previw:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.custom-previw-2-handitem > .text-black{
    text-align: center !important;
}
.custom-previw-2-enable > .text-black{
    text-align: center !important;
}
.icon-link-sm{
    width: 10px;
    height: 10px;
}
.encurtador-button{
    width: 13px;
    height: 11px;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.fade-out {
    animation: fadeOut 2s forwards;
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.avatar-user-list{
    width: 68px;
    height: 139px;
    background-position: center;
}
.user-list{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-top: 2px solid rgba(0, 0, 0, 0.300);
}
.user-list:last-child{
    border-top: none;
}
.users-custom{
    padding: 0px !important;
    display: flex;
    flex-direction: column-reverse !important;
}
.name-user-list{
    display: flex;
}
.link-user-list{
    color: black;
}
.link-user-list:hover{
    color: rgb(106, 106, 244);
}
.profile-custom{
    width: 40px !important;
    height: 40px !important;
}
.profile-bar{
}
ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}
.li-custom-fi{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.li-custom-fi:last-child{
    margin-bottom: none;
}
.li-custom{
    width: 22px !important;
}
p{
    margin-top: 5px !important;
    margin-bottom: 0px !important;
}
.btn-hyperlink{
    background-color: #1f1f22 !important;
    border-color: #202022 !important;
    box-shadow: inset 0 2px 0 hsla(0,0%,100%,.15), inset 0 -2px rgba(0,0,0,.1), 0 1px rgba(0,0,0,.1) !important;
}
.btn-hyperlink:hover{
    background-color: rgb(20, 20, 22) !important;
    border-color: #1f1f22 !important;
    box-shadow: inset 0 2px 0 hsla(0,0%,100%,.15), inset 0 -2px rgba(0,0,0,.1), 0 1px rgba(0,0,0,.1) !important;
}